<meta charset="UTF-8">
<title>My title</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="../../src/main.css">

<script src="../src/bootstrap.bundle.min.js"></script>
<!-- <style>
  body { padding-top:50px; }
</style> -->