<%- include('../partials/head'); %>
<body class="container-fluid">
    <%- include('../partials/header'); %>
    <section>
        <div class="page-header mt-2">
            <h1 class="text-primary">Employees</h1>
            <!-- <span class="mx-4">Pre-Register a Visitors</span> -->
        </div>
    </section>
    <section class="section-preregister">
        <!-- Click on Modal Button -->
        <button type="button" class="btn btn-primary mx-auto mt-3 text-light" data-bs-toggle="modal" data-bs-target="#modalForm2">
            Add new Employee
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modalForm2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h3 class="modal-title" id="exampleModalLabel">New Employee</h3>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h4 class="text-primary px-3 my-3">Employee details</h4>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Email address</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email address" />
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Email address</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter the visitor's email address" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Mobile number <span>*</span></label>
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone" />
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Mobile number <span>*</span></label>
                                    <input type="text" class="form-control" id="mobile_number" name="mobile_number" placeholder="Mobile Number" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Department</label>
                                    <select class="form-control" id="department">
                                        <option>HR</option>
                                        <option>IT</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Job Title<span>*</span></label>
                                    <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Job Title" />
                                </div>
                            </div>
                            <!-- <h4 class="text-primary px-3 my-3">Event details</h4> -->
                            
                            <!-- <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Date and start time <span>*</span></label>
                                    <input type="text" class="form-control" id="startdate" name="startdate" placeholder="Start Date" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Date and end time <span>*</span></label>
                                    <input type="text" class="form-control" id="enddate" name="enddate" placeholder="End Date" />
                                </div>
                            </div> -->
                            <!-- <div class="mb-3">
                                <label class="form-label">Message for Sign In/Out Manager</label>
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="3"/></textarea>
                            </div> -->
                            <!-- <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" />
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div> -->
                            <div class="modal-footer">
                                <!-- <p class="float-start">Close</p> -->
                                <button type="submit" class="btn btn-primary text-light">Close</button>
                                <button type="submit" class="btn btn-warning text-light ">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>