<%- include('../partials/head'); %>
<body class="signin-section">
    <div class="signIn_signOut">
        <div class="row g-0 justify-content-center ">
            <div class="vh-100 w-100 d-flex align-items-center" >
                <div class="formContainer">
                <div class="text-center mb-5 pb-3">
                <img src="images/Atrax-Logo.png" alt="Atrax Group">
                </div>
                <div class="d-grid gap-2  my-3  d-md-flex">
                    <a href="/signin" class="btn btn-success rounded-pill w-100 p-3 fs-5" type="button"> SIGN IN </a>
                    <a href="/signout" class="btn btn-danger rounded-pill w-100 p-3 fs-5" type="button"> SIGN OUT </a>
                </div>
                    <p class="fw-bold" style="font-size: 25px; text-align: center; color: rgb(0, 123, 255);">Please Click to Sign In / Sign Out</p>
                    <p class="fw-bold" style="font-size: 40px; text-align: center; color: rgb(0, 123, 255);">WELCOME TO ATRAX GROUP NZ LIMITED</p>
                </div>
              </div>
        </div>
    </div>
<!-- <script src="js/script.js"></script>
<script src="js/jquery.min.js"></script> -->
</body>
</html>