<%- include('../partials/head'); %>

<body class="signout-section">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
            <h2 class="text-light">Visitor's Sign Out</h2>
            </div>
            <div class="card-body">
            <h5 class="card-title">Please search your name to sign out</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</body>

</html>