<%- include('../partials/head'); %>
<body class="container-fluid">
    <%- include('../partials/header'); %>
    <section>
        <div class="page-header mt-2">
            <h1 class="text-primary">My Visitors</h1>
            <span class="mx-4">Pre-Register a Visitors</span>
        </div>
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>