// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #0093d0; 
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/datatables.net-bs5";

@import url('../node_modules/font-awesome/css/font-awesome.min.css'); 

// Then add additional custom code here
// body{
    // $font-family-base: Noto Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
// }

// body{
    // $font-family-base: Noto Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
// }
//login page
.gradient-custom-2 {
    background: #0093d0;
    border: 1px solid #0093d0;
    color: #ffffff;
    // background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.gradient-custom-2:hover, a.gradient-custom-2:hover {
    color: #ffffff;

}
.btn-block {
    --mdb-btn-margin-top: 0.5rem;
    /* display: block; */
    width: 100%;
}

//inner main page
.page-header{margin-top: 1.1rem; margin-bottom: 1.1rem;    border-bottom: 1px solid #c9d0d0;}
.page-header h1{font-size: 2rem;display: inline-flex;}
.page-header span{position: relative;}
.page-header span:before {
    content: '';
    width: 0;
    height: 20px;
    position: absolute;
    border: 1px solid #eaeaea;
    top: 0;
    left: -15px;
}

.form-design{
    padding: 5px 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    border: 3px solid #fafafa;
    border-radius: 20px;
}
.form-design label{font-size: 1.1rem;}
.section-login, .section-register{
    letter-spacing: 1px;
}
.section-login input, .section-register input{
    margin-bottom:5px;
}
.section-login p{
    text-align: justify;
}
//Modal form
.section-preregister h4{position: relative;}
.section-preregister h4::before{
    content: "";
    width: 3px;
    height: 30px;
    position: absolute;
    border: 2px solid #c4bfbf;
    top: 0;
    left: 0;
}